{% extends 'firstapp\base.html' %}
{% block body_block %}
   <h1>Home Page</h1>
   <ul>
   {% if student_list %} 
    {% for  i in student_list %}
     
    <li> <a href="{% url 'firstapp:student_info' student_id=i.id %}"> {{i.first_name}} {{i.last_name}} </li> </a>
     {% comment %} 
     student_info the oi name er uniqe id niya jabe 
     {% endcomment %}
    {% endfor %}
    {% else %}
    <h2> No Student </h2> 
   {% endif %}
   </ul>
   
   <h5>Please click the name for update or delete!!</h5>
{% endblock %}